# Various Stuffs I Need it to Ignore
README.txt
MinecraftForge-Licence.txt
MinecraftForge-Credits.txt
.classpath
.project
CREDITS-fml.txt
forge-1.7.10-10.13.2.1232-changelog.txt
gradlew
LICENCE-fml.txt
.gradle
.settings

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
